.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

@media (min-width: 640px) {
  .hero-container {
    flex-direction: row;
  }
}

.hero-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.half {
  width: 100%;
}

@media (min-width: 640px) {
  .half {
    width: 50%;
  }
}

.hide-mobile {
  display: none;
}

@media (min-width: 640px) {
  .hide-mobile {
    display: block;
  }
}

.shop-button {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem 1.5rem;
  background-color: #f0f0f0;
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  width: 160px;
  transition: all 0.3s ease;
}

.shop-button:hover {
  background-color: #000;
  color: #fff;
}
