<h1 class="shop-title">Shop</h1>

<section class="shop-wrapper">
  <div class="shop-controls">
    <app-category-filter
      [categories]="categories"
      [selectedCategory]="selectedCategory"
      (categoryChange)="onCategoryChange($event)"
    ></app-category-filter>
    <app-sort-dropdown
      [sort]="sort"
      (sortChange)="onSortChange($event)"
    ></app-sort-dropdown>
  </div>

    <app-product-grid
      [products]="filteredAndSortedProducts"
      [query]="query"
      (likeToggled)="onLikeToggled()"
    ></app-product-grid>
</section>
