.search-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.shop-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.shop-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .shop-controls {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 2rem;
  }

  app-sort-dropdown {
    justify-self: end;
    margin-bottom: 1rem;
  }
}
