.product-details-wrapper {
  margin-top: 3.5rem;
}

.product-layout {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .product-layout {
    grid-template-columns: 2fr;
    gap: 1rem;
    align-items: flex-start;
  }
}
