<main class="product-details-wrapper">
  <ng-container *ngIf="loading; else content">
    <p class="loading">Loading...</p>
  </ng-container>

  <ng-template #content>
    <ng-container *ngIf="!error; else notFound">
      <div class="product-layout">
        <app-product-image [product]="product"></app-product-image>
        <app-product-info [product]="product"></app-product-info>
      </div>
      <app-related-products-carousel
        [currentId]="product.id"
        [categoryId]="product.categoryId"
        class="product-swiper"
      ></app-related-products-carousel>
    </ng-container>

    <ng-template #notFound>
      <app-missing-product></app-missing-product>
    </ng-template>
  </ng-template>
</main>
