.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all 0.3s;
}

.white {
  background-color: white;
  color: black;
}

.transparent {
  background-color: transparent;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  height: 2.5rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.search {
  display: none;
}

@media screen and (min-width: 1024px) {
  .search {
    display: block;
  }
}

.search-input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: black;
}

.welcome-msg {
  display: none;
}

@media screen and (min-width: 640px) {
  .welcome-msg {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1rem;
  }
}
