.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .about-row {
    flex-direction: row;
    justify-content: center;
  }

  .about-row.reverse {
    flex-direction: row-reverse;
  }

  .about-text {
    margin: 0 2rem;
    text-align: left;
  }
}

.about-image {
  width: 100%;
  max-width: 50%;
}

.about-text {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
